.drop-zone {
    padding: 1rem;
    width: 100%;
    background-color: #f3f4f6;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(209 213 219);
    border-radius: 0.5rem;
    text-align: center;
}

.drop-zone span {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.875rem; 
    line-height: 1.25rem; 
    font-weight: 500;
}

.invent-empty {
    background-color: orange !important;
    padding: 1rem;
    width: 100%;
    background-color: #f3f4f6;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(209 213 219);
    border-radius: 0.5rem;
    text-align: center;}

.invent-column:empty {
    background-color: aquamarine !important;
}

.drop-zone-active {
    background-color: #ede9fe;
    border-color: #8b5cf6;
}

.drop-zone-active-above {
    border-top-color: red;
    border-top-width: 4px;
    border-top-style: solid;
}

.drop-zone-active-below {
    border-bottom-color: red;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

.drop-zone-active-left {
    border-left-color: red;
    border-left-width: 4px;
    border-left-style: solid;
}

.drop-zone-active-right {
    border-right-color: red;
    border-right-width: 4px;
    border-right-style: solid;
}

.drop-zone-active span {
    color: #8b5cf6;
}