.invent-empty {
    background-color: #f3f4f6;
    padding: 1rem;
    background-color: #f3f4f6;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(209 213 219);
    border-radius: 0.5rem;
    text-align: center;
}

.drop-zone-outside {
    background-color: #ede9fe;
    border-color: red;
    border-width: 4px;
    border-style: solid;
}

.drop-zone-inside {
    background-color: red;
}
