/* Default values for the theme - change these! */
html {
    --font: 'Roboto', sans-serif;
    --color-body: #EEE;
    --main-background: #41403e;

    --link: #a7d3fa;
    --link-hover: #5595ce;

    --primary: #fff;
    --secondary: #5595ce;
    --success: #70c272;
    --warning: #d4c252;
    --danger: #df4c57;
    --muted: #868e96;
    --primary-light: white;
    --secondary-light: #69a1d4;
    --success-light: #82ca84;
    --warning-light: #d9c966;
    --danger-light: #e3626b;
    --muted-light: #949ba2;
    --primary-active: #b4b3b0;
    --secondary-active: #a7d3fa;
    --success-active: #bccca8;
    --warning-active: #ede49b;
    --danger-active: #e6a5a1;
    --primary-dark: gray;
    --secondary-dark: #1f476b;
    --success-dark: #265927;
    --warning-dark: #71651c;
    --danger-dark: #7c161e;
    --muted-dark: #313538;
    --white: white;
    --black: black;
    --primary-text: #41403e;
    --secondary-text: #1f476b;
    --success-text: #265927;
    --warning-text: #71651c;
    --danger-text: #7c161e;
    --muted-text: #949ba2;
}

/* Page layout */

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    font-size: 100%;
    color: var(--color-body);
    background-color: var(--main-background);
}

.invent-page {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 80%;
}

/* Typography */

p {
    font-size: 1rem;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--link-hover);
    text-decoration: underline;
}

a:focus {
    color: var(--link);
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2.0rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

/* Multimedia elements */

img, video {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Form elements */

input,
select,
textarea {
  color: var(--primary);
  border-color: var(--primary);
  background: transparent;
  border-style: solid;
  border-width: 2px;
  display: block;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem;
}
input:focus,
select:focus,
textarea:focus {
  border-color: var(--secondary);
  border-style: solid;
  border-width: 2px;
}
select {
  height: 2.35rem;
}

label {
    cursor: pointer;
}

.disabled, input.disabled, input[disabled],
select.disabled,
select[disabled],
textarea.disabled,
textarea[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Buttons */

button {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transition: all 235ms ease-in-out 0s;
    color: var(--primary);
    border-color: var(--primary);
    background-color: var(--main-background);
    align-self: center;
    background-image: none;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    outline: none;
    padding: 0.75rem;
    color: var(--primary-text);
    background-color: var(--primary-light);
    border-color: var(--primary);
}

button:hover {
    background-color: var(--primary-active);
    border-color: var(--primary-dark);
}

button:active {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--primary-light)
}

button.large {
    font-size: 2rem;
    padding: 1rem;
}

button.small {
    font-size: 0.75rem;
    padding: 0.5rem;
}

button.primary {
    color: var(--primary-text);
    background-color: var(--primary-light);
    border-color: var(--primary);
}

button.primary:hover {
    background-color: var(--primary-active);
    border-color: var(--primary-dark);
}

button.primary:active {
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
    color: var(--primary-light)
}

button.secondary {
    color: var(--secondary-text);
    background-color: var(--secondary-light);
    border-color: var(--secondary);
}

button.secondary:hover {
    background-color: var(--secondary-active);
}

button.secondary:active {
    background-color: var(--secondary);
    color: var(--secondary-dark)
}

button.success {
    color: var(--success-text);
    background-color: var(--success-light);
    border-color: var(--success);
}

button.success:hover {
    background-color: var(--success-active);
}

button.success:active {
    background-color: var(--success);
    color: var(--success-dark)
}

button.warning {
    color: var(--warning-text);
    background-color: var(--warning-light);
    border-color: var(--warning);
}

button.warning:hover {
    background-color: var(--warning-active);
}

button.warning:active {
    background-color: var(--warning);
}

button.danger {
    color: var(--danger-text);
    background-color: var(--danger-light);
    border-color: var(--danger);
}

button.danger:hover {
    background-color: var(--danger-active);
}

button.danger:active {
    background-color: var(--danger);
    color: var(--danger-dark)
}

/* Slider */

input[type=range] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-width: 0;
    padding: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--secondary);
    border-color: var(--primary);
    border-radius: 18px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: 8px;
    margin: 10px 0;
    width: 100%;
}

input[type=range]::-moz-range-track {
    background: var(--secondary);
    border-color: var(--primary);
    border-radius: 18px;
    cursor: pointer;
    height: 8px;
    width: 100%;
  }

input[type="range"]::-webkit-slider-thumb {
    background: var(--white);
    border-color: var(--primary);
    -webkit-appearance: none;
            appearance: none;
    border-bottom-left-radius: 1rem 1rem;
    border-bottom-right-radius: 1rem 1rem;
    border-style: solid;
    border-top-left-radius: 1rem 1rem;
    border-top-right-radius: 1rem 1rem;
    border-width: 2px;
    cursor: pointer;
    height: 36px;
    margin-top: -14px;
    width: 16px;
  }

input[type=range]::-moz-range-thumb {
    background: var(--white);
    border-color: var(--primary);
    border-bottom-left-radius: 1rem 1rem;
    border-bottom-right-radius: 1rem 1rem;
    border-style: solid;
    border-top-left-radius: 1rem 1rem;
    border-top-right-radius: 1rem 1rem;
    border-width: 2px;
    cursor: pointer;
    height: 36px;
    width: 16px;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
    cursor: pointer;
    height: 8px;
    width: 100%;
}

input[type=range]::-ms-fill-lower, input[type=range]::-ms-fill-upper {
    background: var(--secondary);
    border-color: var(--primary);
    border-radius: 18px;
    border-style: solid;
    border-width: 1px;
}

input[type=range]::-ms-thumb {
    background: var(--white);
    border-color: var(--primary);
    border-bottom-left-radius: 1rem 1rem;
    border-bottom-right-radius: 1rem 1rem;
    border-style: solid;
    border-top-left-radius: 1rem 1rem;
    border-top-right-radius: 1rem 1rem;
    border-width: 2px;
    cursor: pointer;
    height: 36px;
    width: 16px;
  }

/* Check boxes, switches and radio buttons */

input[type="checkbox"], input[type="radio"] {
    border: 0;
    height: 1px;
    margin: -1px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type="checkbox"] + span, input[type="radio"] + span {
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 15px 0px;
    padding: 0;
    position: relative;
}

input[type="checkbox"]:checked + .checkbox::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cpath fill='%23EEE' d='m243.31 90.91l-128.4 128.4a16 16 0 0 1-22.62 0l-71.62-72a16 16 0 0 1 0-22.61l20-20a16 16 0 0 1 22.58 0L104 144.22l96.76-95.57a16 16 0 0 1 22.59 0l19.95 19.54a16 16 0 0 1 .01 22.72'/%3E%3C/svg%3E");
}

input[type="checkbox"] + .checkbox::before {
    border-color: var(--primary);
    border-style: solid;
    border-width: 2px;
    height: 1rem;
    width: 1rem;
    content: "";
    display: inline-block;
    margin-right: 0.75em;
    position: relative;
    vertical-align: -0.25em;
}

input[type="checkbox"] + .checkbox::before {
    border-radius: 0.25rem;
}

input[type="radio"]:checked + span::before {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cpath fill='%23EEE' d='M232 128A104 104 0 1 1 128 24a104.13 104.13 0 0 1 104 104'/%3E%3C/svg%3E");
}

input[type="radio"] + span::before {
    border-color: var(--primary);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    height: 1rem;
    width: 1rem;
    content: "";
    display: inline-block;
    margin-right: 0.75em;
    position: relative;
    vertical-align: -0.25em;
}

.switch {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 1.5rem;
    margin-right: 0.75em;
}

.switch-label {
    position: absolute;
    padding-top: 0.25em;
    cursor: pointer;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3rem;
    height: 1.5rem;
    margin: 0 1rem 0 0 !important;
    -webkit-transition: .4s;
    transition: .4s;
    background-color: var(--primary-dark);
    border: 2px solid var(--primary);
    border-radius: 4px;
  }

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 4px;
    bottom: 4px;
    background-color: var(--white);
    -webkit-transition: .4s;
    transition: .4s;
}

input[type="checkbox"]:focus + .slider {
    box-shadow: 0 0 1px var(--secondary);
}

input[type="checkbox"]:checked + .slider {
    background-color: var(--secondary) !important;
}

input[type="checkbox"]:checked + .slider:before {
    -webkit-transform: translateX(1.5rem);
    -ms-transform: translateX(1.5rem);
    transform: translateX(1.5rem);
}

/* Audio */
audio {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Dropdown options */

/* Text inputs */

input[type="email"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cpath fill='grey' d='M224 48H32a8 8 0 0 0-8 8v136a16 16 0 0 0 16 16h176a16 16 0 0 0 16-16V56a8 8 0 0 0-8-8m-96 85.15L52.57 64h150.86ZM98.71 128L40 181.81V74.19Zm11.84 10.85l12 11.05a8 8 0 0 0 10.82 0l12-11.05l58 53.15H52.57ZM157.29 128L216 74.18v107.64Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

input[type="password"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cpath fill='grey' d='M48 56v144a8 8 0 0 1-16 0V56a8 8 0 0 1 16 0m92 54.5l-20 6.5V96a8 8 0 0 0-16 0v21l-20-6.5a8 8 0 0 0-5 15.22l20 6.49l-12.34 17a8 8 0 1 0 12.94 9.4l12.34-17l12.34 17a8 8 0 1 0 12.94-9.4l-12.34-17l20-6.49A8 8 0 0 0 140 110.5m106 5.14a8 8 0 0 0-10-5.14l-20 6.5V96a8 8 0 0 0-16 0v21l-20-6.49a8 8 0 0 0-4.95 15.22l20 6.49l-12.34 17a8 8 0 1 0 12.94 9.4l12.34-17l12.34 17a8 8 0 1 0 12.94-9.4l-12.34-17l20-6.49a8 8 0 0 0 5.07-10.09'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

input[type="tel"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cpath fill='grey' d='m222.37 158.46l-47.11-21.11l-.13-.06a16 16 0 0 0-15.17 1.4a8 8 0 0 0-.75.56L134.87 160c-15.42-7.49-31.34-23.29-38.83-38.51l20.78-24.71c.2-.25.39-.5.57-.77a16 16 0 0 0 1.32-15.06v-.12L97.54 33.64a16 16 0 0 0-16.62-9.52A56.26 56.26 0 0 0 32 80c0 79.4 64.6 144 144 144a56.26 56.26 0 0 0 55.88-48.92a16 16 0 0 0-9.51-16.62M176 208A128.14 128.14 0 0 1 48 80a40.2 40.2 0 0 1 34.87-40a.6.6 0 0 0 0 .12l21 47l-20.67 24.74a6 6 0 0 0-.57.77a16 16 0 0 0-1 15.7c9.06 18.53 27.73 37.06 46.46 46.11a16 16 0 0 0 15.75-1.14a8 8 0 0 0 .74-.56L168.89 152l47 21.05h.11A40.21 40.21 0 0 1 176 208'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

input[type="url"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 256 256'%3E%3Cpath fill='grey' d='M128 24a104 104 0 1 0 104 104A104.12 104.12 0 0 0 128 24m88 104a87.6 87.6 0 0 1-3.33 24h-38.51a157.4 157.4 0 0 0 0-48h38.51a87.6 87.6 0 0 1 3.33 24m-114 40h52a115.1 115.1 0 0 1-26 45a115.3 115.3 0 0 1-26-45m-3.9-16a140.8 140.8 0 0 1 0-48h59.88a140.8 140.8 0 0 1 0 48ZM40 128a87.6 87.6 0 0 1 3.33-24h38.51a157.4 157.4 0 0 0 0 48H43.33A87.6 87.6 0 0 1 40 128m114-40h-52a115.1 115.1 0 0 1 26-45a115.3 115.3 0 0 1 26 45m52.33 0h-35.62a135.3 135.3 0 0 0-22.3-45.6A88.29 88.29 0 0 1 206.37 88Zm-98.74-45.6A135.3 135.3 0 0 0 85.29 88H49.63a88.29 88.29 0 0 1 57.96-45.6M49.63 168h35.66a135.3 135.3 0 0 0 22.3 45.6A88.29 88.29 0 0 1 49.63 168m98.78 45.6a135.3 135.3 0 0 0 22.3-45.6h35.66a88.29 88.29 0 0 1-57.96 45.6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

/* Colour picker */

input[type="color"] {
    width: 3rem;
    height: 2rem;
    display: inline-block;
    margin-right: 0.75em;
    cursor: pointer;
    border: 2px solid var(--primary);
    border-radius: 4px;
    padding: 0.1rem;
}

/* File selector */

input[type="file"] {
    border: 0;
    cursor: pointer;
}   

/* Date / time picker */

input[type="date"], input[type="time"], input[type="datetime-local"] {
    border: 2px solid var(--primary);
    display: inline-block;
    margin-right: 0.75em;
    cursor: pointer;
}   

/* Meters / progress bars */

/* Tables */
